* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;

}


section {
    margin: 0 auto;
    max-width: 1200px;
    background-color: rgba(255, 255, 255);
    position: relative;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-family: 'lato', sans-serif;
    font-weight: 100;
    margin-top: 0.5rem;

}

/****HEADER + NAVIGATION****/
/*

header {
    position: fixed;
    background: rgba(27, 35, 38, 0.24);


    width: 100%;
}


header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1.5rem;
}


nav a {
    color: #fcecbb;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.3rem 0;
    padding: 0.3rem 0;


}

nav a:hover {
    color: #D8C14E;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-decoration: underline;

}
*/


/*****GENERELT*****/

.sectionwrapper {
    padding: 0 5vw;
}

h1 {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #24303F;
    text-align: center;
    margin-top: 2rem;


}

h2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: #D8C14E;

}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #BF9F8D;
    /* margin-top: 10px;*/
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: regular;
    color: #000000;
    font-size: 1rem;
    line-height: 1.4rem;

}

figcaption {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #000000;


}

figcaption {
    font-style: italic;
    font-size: 1rem;
}

/***SPLASH***/



#splash {
    width: 100vw;
    height: 155vw;
    background-color: lightblue;
    max-width: none;
    background-size: cover;
    /*  background-position: 50%;*/

}

#splash .sectionwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50vw;
}

#logo {
    width: 90vw;
    height: 17vw;
    background-image: url(img/logo.svg);
    background-size: cover;


}

#splash h3 {
    text-align: center;



}

#splash button {
    background-color: #f1f1f1;
    color: black;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 5vw;


}

/***SPLASH SLUT***/
/****ABOUT****/

#about p {
    text-align: center;
    margin-top: 2rem;


}

/****ABOUT SLUT****/

/****UPCOMING*****/


#upcoming .col {
    display: flex;
    justify-content: space-around;

}

.up_img {
    width: 25vw;
    height: 30vw;
    background-color: black;
    margin-top: 1rem;
}

#upcoming .txt {
    display: flex;
    flex-wrap: wrap;
    width: 200px;

}

#upcoming .text {
    margin-top: 0rem;
    font-style: italic;
}


#upcoming .dato {
    font-size: 0.7rem;
    color: #625f5f;
    margin-top: -0.8;
}

.events {
    margin-top: 1rem;
    margin-left: 25vw;

}

/****UPCOMING SLUT****/

/****BOOKS*****/

#book .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#book .img {
    width: 50vw;
    height: 40vw;
    background-color: black;
}

#book p {
    text-align: center;
}

/****BOOK SLUT****/

/****NEWS****/
/* Add padding to containers */
.container {
    padding: 1rem;
}

/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 1rem;
    margin: 0.3rem 0 0.3rem 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}


.registerbtn {
    background-color: skyblue;
    color: white;
    padding: 1rem 1rem;
    margin-left: 25vw;
    border: none;
    cursor: pointer;
    width: 30vw;
    opacity: 0.9;
}

/*.registerbtn:hover {
    opacity: 1;
}*/

/****NEWS SLUT****/
/****MEMBERSHIP****/

#membership p {
    text-align: center;
}

#membership .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/****MEMBERSHIP SLUT****/

/****FIND****/

.mapouter {
    position: relative;
    width: 40vw;
    height: 48vw;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 100vw;
    width: 85vw;
    margin-bottom: 10vw;

}

#find p {
    text-align: center;
}

/***FIND SLUT****/

/*****/

/***Footer****/

footer {
    text-align: center;
    background-color: #a3c2db;
    padding: 2px;
    height: 4vw;

}

footer p {
    color: #1d1b29;
    padding-top: 0.5rem;
}



/***MEDIA QUERY MIN 450px ***/
@media screen and (min-width: 450px) {
    #splash {
        background-image: url(img/splash.jpg);
        max-width: none;
        background-size: cover;
        width: 100vw;
        height: 140vw;
        background-position: 72%;
    }

}


@media screen and (min-width: 525px) {
    #splash {
        background-image: url(img/splash.jpg);
        max-width: none;
        background-size: cover;
        width: 100vw;
        height: 120vw;
        background-position: 72%;
    }
}

@media screen and (min-width: 600px) {

    #splash {
        width: 100vw;
        height: 80vw;
        background-position: 70% 50%;
    }



    @media (orientation: landscape) {
        #splash {
            width: 100vw;
            height: 56.25vw;
            background-position: 0% 0%;
            background-image: url(image/splash.jpg);
        }
    }

    @media screen and (min-width: 800px) {


        header nav {
            flex-direction: row;
            justify-content: flex-end;

        }


        nav a {
            margin: 0 0.25rem;
            padding: 0 0.25rem;


        }


        @media screen and (min-width: 950px) {

            body {
                margin: 0;
                overflow-x: hidden;
                background-image: url(img/jon_tyson_opacity.jpg);
                background-attachment: fixed;
                background-size: cover;

            }



            @media screen and (min-width: 1200px) {
                /*generelt*/

                .sectionwrapper {
                    padding: 0 1rem;
                }

                h1 {
                    margin: 1rem 1rem 0.5rem 1rem;

                }

                /*SPlash*/
                #splash {
                    width: 100vw;
                    height: 20vw;
                    background-position: 0% 20%;
                }

                #splash h1 {
                    margin: auto;
                    text-align: center;
                    padding-top: 9vw;
                    font-size: 2rem;


                }

                /*FORSIDE*/
                #forside .sectionwrapper {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 5rem;
                }

                .col {
                    margin: 1rem;
                }
